
html, body{
    margin: 0;
    height: 100%;
    font-family: '微软雅黑';
}
ul,p{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
@rem:16rem;

#header{
    width: 100%;
    height: 40/@rem;

}

#content{
    width: 100%;
    height: 100%;
    position: relative;

    .protective{
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
        background: url("../../src/images/bg/bg.jpg") no-repeat;
        background-size: 100%;
    }
    .record_box{
        position: absolute;
        left: 0;
        top: 0;
        z-index: 11;
        width: 100%;
        height: 100%;
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        ul{
            padding-bottom: 10/@rem;

            li{
                position: relative;
                width: 100%;
                height: 80/@rem;
                box-sizing: border-box;

                .left_liner{
                    float: left;
                    width: 10/@rem;
                    height: 100%;
                    position: relative;
                    margin-left: 20/@rem;

                    span{
                        display: block;
                        position: absolute;

                        &:nth-child(1){
                            width: 2/@rem;
                            left: 50%;
                            margin-left: -1/@rem;
                            height: 100%;
                            background: #f3eb0b;
                        }
                        &:nth-child(2){
                            width: 10/@rem;
                            height: 10/@rem;
                            left: 50%;
                            top: 50%;
                            margin-top: -5/@rem;
                            margin-left: -5/@rem;
                            background: #0bf0f3;
                            -webkit-border-radius: 20px;
                            -moz-border-radius: 20px;
                            border-radius: 20px;
                        }

                    }

                }
                .right_content{
                    float: left;
                    width: 82%;
                    height: 100%;
                    margin-left: 16/@rem;
                    padding-top: 10/@rem;
                    box-sizing: border-box;

                    .content{
                        width: 100%;
                        height: 100%;
                        background: #e3eaea;
                        border-radius: 6px;
                        position: relative;
                        padding: 10px;
                        box-sizing: border-box;
                        font-size: 14/@rem;

                        &::before{
                            display: block;
                            content: "";
                            border: 8/@rem solid transparent;
                            border-right: 8/@rem solid #e3eaea;
                            position: absolute;
                            left: -16/@rem;
                            top: 50%;
                            margin-top: -14/@rem;
                        }
                        p{
                            overflow: hidden;
                        }

                    }
                }

                &.first{
                    .left_liner{
                        span{
                            &:nth-child(1){

                                height: 50%;
                                top: 50%;
                            }
                        }
                    }
                }
                &.last{
                    .left_liner{
                        span{
                            &:nth-child(1){

                                height: 50%;
                            }
                        }
                    }
                }
            }
        }
    }
}


